*{
    margin:0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.container__title{
    font-size: 30px;
    padding: 10px 20px ;
    text-align: center;
}
.container__labels,
.container__inputs{
    display: flex;
    justify-content: space-between;
}
.btns{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.container__labels--label{
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;
}
.container__inputs--time{
    border: none;
    background: transparent;
    text-align: center;
    font-size: 36px;
    width: 90px;
    height: 50px;
    outline: none;
}
.container__inputs--colon{
    font-size: 30px;
    padding: 5px 10px;
}
.btns__btn{
    width: 35%;
    height: 50px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}
.start{
    background-color: greenyellow;
}
.stop{
    display: none;
    background-color: red;
    color: white;
}
.reset{
    background-color: yellow;
}